.a{
    color: red;
}
td {
        background-color: rgb(214, 214, 254);
        box-shadow: blue 2px 2px;
        height: 50px;
        color: blue;
        
    }
table {
        margin: auto;
        width: 200px;
        height: 300px;

    border-left: 2px solid rgb(185, 186, 253);
    border-top: 2px solid rgb(185, 186, 253);
    
    border-right: 2px solid rgb(185, 186, 253);
    border-bottom: 2px solid rgb(185, 186, 253);
}
.b{
    background-color: rgb(213, 214, 214);
}
.c{
    background-color: rgb(155, 156, 253);
    color: rgb(6, 10, 119);
}
.d{
    background-color: rgb(185, 186, 253);
}
.asd{
    background-color: rgb(184, 184, 184);
}
